CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.config
*.o
*.pyc
*.a
*.d

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el

# emacs temp file suffixes
*~
.#*
\#*#

sdkconfig
sdkconfig.old
sdkconfig.lobo
.cproject
.project
.settings
BUILD
build/
temp/
local/
*.dis
*.elf
*.map
**/.DS_Store
